@{
    ViewData["Title"] = "Home Page";
}

<div class="w3-container w3-margin">
    <div class="w3-card-4 w3-light-grey w3-text-blue">
        <div class="w3-container w3-blue">
            <h2 class="w3-center">Welcome</h2>
        </div>
        <div class="w3-container w3-padding w3-center">
            <p class="w3-large">Learn about 
                <a href="https://learn.microsoft.com/aspnet/core" class="w3-text-blue">building Web apps with ASP.NET Core</a>.
            </p>
        </div>
    </div>
</div>